<div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="home-tab">
    <h2>Stats</h2>
    <div class="card-columns">
        {% for value in steamstats.statistics %}
        {% endfor %}
    </div>
    {#<img src="{{ asset('build/images/achievements/'~ name ~ '.png') }}" alt="ACME logo">#}
</div>